[2014-03-21 18:17] vladimir-kotikov opened #2 "Add automatic expand for tilde after <Tab>"
Tilde in windows console isn't supported, and its surrogates, like environnment variable %~%, are ugly.

[2014-03-21 18:24] vladimir-kotikov opened #3 "Add directories history, and ability to cd to previous dir (like back in browsers)"

[2014-04-23 20:53] bliker opened #4 "Including this package in Cmder"
Hey, I am the guy behind [Cmder](bliker/cmder). I was considering to include your amazing project. Would that be okay? I of course would include proper attribution.

Thanks

[2014-05-05 20:11] #2 closed, assigned to vladimir-kotikov

[2014-06-05 20:17] vladimir-kotikov opened #5 "Add colorama-like syntax to `color` function"
https://pypi.python.org/pypi/colorama

[2014-06-24 20:52] AbhishekTripathi opened #6 "clink/clink.lua:897: Tables can't have meta-tables."
I am trying to use your most recent version of git.lua with the latest clink (0.4.2). I keep getting following error -

Clink v0.4.2 [git:1111eb] Copyright (c) 2014 Martin Ridgers
http://mridgers.github.io/clink
D:\Apps\cmder\vendor\clink-new/clink.lua:897: Tables can't have meta-tables.

I see that clink is updated as per your suggestions for config file. I also verified that the error is display

[2015-01-13 07:04] vladimir-kotikov commented on #6
Works with clink@0.4.3

[2015-01-13 07:04] #6 closed

[2015-02-27 12:14] vladimir-kotikov opened #8 "`cordova platform add` command doesn't being completed with file paths since clink@0.4.4"
`cordova platform add` now being completed with list of known platforms only.

![Screenshot](https://cloud.githubusercontent.com/assets/3857604/6412314/3bb00b80-be93-11e4-8185-2d754e141973.png)

[2015-03-03 20:10] #8 closed

[2015-03-04 20:20] vladimir-kotikov opened #9 "Improve compatibility with Cmder"
Current completions set is not fully compatible with Cmder. Specifically there is a lack of prompt handling and replacing of `{git}` and `{lamb}` sequences in prompt.

Also there is an additional template for `hg` seems to be appeared in https://github.com/bliker/cmder/commit/af30a90ef07d309b2b73d8e0da27ccafa498748c and this could be added as well.

[2015-03-04 21:35] vladimir-kotikov opened #10 "Update README with branches description"
A set of completions in this repo depends on chosen branch. Hovewer this solution is far from ideal but i have some reasons for it. Probably this should be documented better than now.

[2015-03-04 21:38] #5 closed

[2015-03-04 21:39] vladimir-kotikov commented on #9
This relates to #4

[2015-03-04 21:41] #4 closed

[2015-03-04 21:42] #3 closed

[2015-03-04 21:44] vladimir-kotikov opened #11 "Add CONTRIBUTORS and LICENSE"
- [x] add licence information (added in https://github.com/vladimir-kotikov/clink-completions/commit/d23bbfd625c09a06a765ca28e1b285be52f39fe0)
- [x] add information for contributors
- [x] add CHANGELOG

[2015-03-10 17:15] vladimir-kotikov opened #13 "`git push` with a " :mybranch" will not autocomplete the branch name"
From https://github.com/bliker/cmder/pull/174#issuecomment-78059712
See https://git-scm.com/docs/git-push for details on refspec syntax

[2015-03-10 17:16] vladimir-kotikov opened #14 "Add completion for `git rebase`"
From https://github.com/bliker/cmder/pull/174#issuecomment-78059712

[2015-03-10 17:16] vladimir-kotikov opened #15 "`git merge` does not seem to work"
From https://github.com/bliker/cmder/pull/174#issuecomment-78059712

[2015-03-11 11:36] vladimir-kotikov opened #16 "Add completions for curl util"

[2015-03-11 11:37] vladimir-kotikov opened #17 "Add completions for gpg util"

[2015-03-18 22:00] #14 closed

[2015-03-18 22:00] #15 closed

[2015-03-20 18:35] vladimir-kotikov commented on #9
Ok, decided to not to include this functionality into this repo, since it will be integrated into cmder releases, and prompt handling functionality will remain at cmder repo.

[2015-03-20 18:35] #9 closed

[2015-03-20 18:36] vladimir-kotikov commented on #11
License is added in https://github.com/vladimir-kotikov/clink-completions/commit/d23bbfd625c09a06a765ca28e1b285be52f39fe0

[2015-03-20 18:45] vladimir-kotikov opened #18 "dot and double-dot completions id shown for number of git completions"
Git completions for number of commands that using `branches` and `remotes` functions produces an set of completions with a pair of `.` and `..` added. Looks like tha problem is that `clink.find_dirs` now returns these metadirectories in result as well.

[2015-03-20 19:26] #18 closed

[2015-03-20 20:36] vladimir-kotikov opened #19 "Add completions for all `git rebase-*` commands family."
There is a bunch or `rebase-*` commnds for git and basically arguments for them should be almost the same so this gonna be easy. List of commands:
- [ ] `rebase--am`
- [ ] `rebase--interactive`
- [ ] `rebase--merge`

[2015-03-20 20:36] vladimir-kotikov opened #20 "Completions for `git remote` commands set is missing"

[2015-03-21 18:47] #19 closed

[2015-03-21 18:47] #20 closed

[2015-07-10 08:55] albfan opened #22 "autocomplete remote branches"
In this WIP

https://github.com/albfan/clink-completions/commit/d48adfbffed3dc5909a5a93d20e4ee0622efa8a2

I found that clink divides autocompletion on "/".

    $ git rebase <TAB>
    origin/master origin/wip vladimir/master vladimir/extended vladimir/dev master wip
    $ git rebase o<TAB>
    $ git rebase origin/<TAB>
    -- no output --

and it do not offer autocompletion

When there is only one

[2015-07-10 09:30] vladimir-kotikov commented on #22
Hmm... This may be related to how clink arguments framework works with `/` symbol. AFAIK it treats such symbol as a flag indicator (along with dash `-`). Need to double check...

[2015-07-10 22:35] albfan commented on #22
You are right:

https://github.com/mridgers/clink/blob/master/clink/lua/arguments.lua#L76

Since "\" is the dir separator on windows, seems correct to interpret "/" as flag. I must propose a fix or tweak for this on clink.

[2015-07-11 11:17] albfan commented on #22
I couldn't solve by myself (I'm newbie to lua)

https://github.com/mridgers/clink/issues/327

but almost... hope you can finish it or point how.

[2015-07-13 22:24] albfan commented on #22
Finally it was only a match problem:

    $ git diff <TAB>
    origin/master origin/extended master
    $ git diff o<TAB>
    $ git diff origin/
    origin/master origin/extended

at this point, token is "origin/" and that did not match any remote. Once solved autocomplete works on remote branches

[2015-07-13 22:29] #22 closed

[2015-07-15 07:54] albfan opened #24 "autocomplete on git aliases"
When you define something like

[code]

you can issue

[code]

To do a commit

Is expected that you can autocomplete on this shorcuts

Technical doc:

https://git.wiki.kernel.org/index.php/Aliases

[2015-07-17 20:38] vladimir-kotikov opened #26 "Add repo structure/workflow documentation and contributing guide"
- [x] Repo structure/workflow
- [x] CONTRIBUTING.md

[2015-09-09 11:17] vladimir-kotikov opened #29 "'git remote rm' shows completions for remotes that was already removed"
Need to parse `.git/config` file to get actual information about remotes instead of `ls`ing `.git/remotes`

[2015-09-30 18:23] kevindqc opened #30 ""git checkout" with branches having slash in their names"
We have branches in the following format:
feature/f-1#blablabla
feature/f-2#blablabla

when I type "git checkout" and press tab, I only see "*feature"

[2015-10-04 21:58] #30 closed

[2015-10-04 23:35] #13 closed

[2015-10-05 21:04] #29 closed

[2015-10-05 21:04] vladimir-kotikov commented on #10
Closing as obsolete

[2015-10-05 21:04] #10 closed

[2015-10-15 21:48] vladimir-kotikov opened #31 "Completions are broken with clink@0.4.4"
See https://github.com/mridgers/clink/issues/358#issuecomment-148527725

with this: https://www.dropbox.com/sh/hqbrpkf0dpmmizq/gGX4XWAWIA

[2015-10-15 21:49] vladimir-kotikov opened #32 "Introduce test suite to improve reliability"
- [x] Add basic syntax validation (luacheck)
- [x] Run tests on CI (Appveyor)
- [x] Add docs for test harness setup
- [ ] Improve coverage (to cover at least logic from `modules` directory)

[2015-10-16 13:55] vBm commented on #31
I've used `20150923_1abb57` dev build but that didn't help me.
There's still an issue when trying to do `git add x`

[2015-10-21 09:52] vladimir-kotikov opened #33 "Trying to complete `npm run` in non-npm directory causes errors"
D:\Cmder/vendor/clink-completions/npm.lua:45: attempt to index local 'package_json' (a nil value)

[2015-10-21 19:20] #33 closed

[2015-10-21 19:23] vladimir-kotikov opened #34 "'git add' doesn't complete filenames"

[2015-10-21 19:36] #34 closed

[2015-10-21 20:04] vladimir-kotikov commented on #31
@vBm, just checked the build you mentioned, all works fine with current master. The issue with `git add` was fixed in https://github.com/vladimir-kotikov/clink-completions/commit/d2ac83817a329b02e1deca6fa6f59f15ec7c84f5

Closing this, please reopen if you still have any problems.

[2015-10-21 20:04] #31 closed

[2015-10-21 22:34] vBm commented on #31
@vladimir-kotikov thanks, that commit indeed fixed the issue.
Thanks again.

[2015-10-23 12:58] Toxaris opened #35 "Complete remote branches for `git checkout`"
If there's a remote branch `origin/foo` but no local branch `foo`, then `git checkout foo` automatically sets up a new local branch `foo` that tracks `origin/foo`. Currently, the completion `foo` is not picked up because the name of the existing branch is `origin/foo`, not `foo`. I would be nice to get completion for the `foo` in such situations.

[2015-10-25 15:13] vladimir-kotikov commented on #35
@Toxaris, could you please try this out?

[2015-10-25 15:13] #35 closed

[2015-10-25 15:14] vladimir-kotikov commented on #35
Argh, ctrl+enter reopened the issue :angry:

[2015-10-26 15:15] Toxaris commented on #35
:+1: looks great.

Maybe except that it appears as if some branch names can show up more than once in the completion list. For example, if there's `master` and `origin/master`, I seem to get two `master` entries in the completion list. I don't know whether that's to be expected or not.

[2015-10-26 15:46] vladimir-kotikov commented on #35
Thanks for testing :)

No, this is not expected, I’ll try to look where the problem is.

From: Tillmann Rendel [mailto:notifications@github.com]
Sent: Monday, October 26, 2015 6:16 PM
To: vladimir-kotikov/clink-completions <clink-completions@noreply.github.com>
Cc: Vladimir Kotikov <kotikov.vladimir@gmail.com>
Subject: Re: [clink-completions] Complete remote branches for `git checkout` (#35)

  <h

[2015-10-27 08:44] vladimir-kotikov opened #36 "query npm_cache and npm_globals only when required"
Currently these parameters queried on each module load, which adds delay to each console startup time. Hovewer these values are only required when completing  some `npm`commands / processing prompt when inside package.

Need to make these values lazy-loaded only when really required.

[2015-10-28 07:55] vladimir-kotikov opened #37 "'git remote update' completion is missing"

[2015-10-28 07:55] vladimir-kotikov opened #38 "Add completions for 'nvm'"

[2015-10-28 12:33] vladimir-kotikov opened #39 "git.lua locks `packed-refs` file"
Running `git gc` causes following error:
[code]

[2015-11-07 21:18] #39 closed

[2015-11-07 21:19] vladimir-kotikov commented on #37
Resolved in https://github.com/vladimir-kotikov/clink-completions/commit/03bec42399e8eb4efe2a80903155424b863b0a2b

[2015-11-07 21:19] #37 closed

[2015-11-07 21:19] vladimir-kotikov commented on #36
Resolved in https://github.com/vladimir-kotikov/clink-completions/commit/e6921a33fb98d607c25436c9cc35c6878005c062

[2015-11-07 21:19] #36 closed

[2015-12-07 07:56] viskin opened #40 "Add completion for 'docker'"
Docker client is popular tool that now available on Windows:
https://docs.docker.com/windows/step_one/
It comes with bash completion file:
https://github.com/docker/docker/blob/master/contrib/completion/bash/docker

[2015-12-07 12:03] vladimir-kotikov commented on #40
@viskin, accepted. However, i'm not a user of Docker, so please don't expect this will be done soon, sorry.

[2015-12-07 12:04] vladimir-kotikov commented on #40
Also, bash completions will be helpful, thanks.

[2016-01-20 00:23] piotr-cz opened #41 "Improve completion for choco packages"
Recently Chocolatey is moving to different naming strategy when it comes to packages.

If I'm having a `git.install` package installed, clink completions shows only `git` as a suggestion.

I guess the regex should be:

[code]

[2016-02-03 02:36] Stanzilla opened #42 "vagrant module error message"
/clink-completions/vagrant.lua:66: Additional arguments to new_parser() must be tables or strings

[2016-02-03 02:38] #42 closed

[2016-02-09 19:36] #41 closed

[2016-02-10 14:04] gpakosz opened #46 "Git completions don't work for submodules"
Git completions seem to rely on finding the git-dir as per https://github.com/vladimir-kotikov/clink-completions/blob/e2467f6e57e5195d7c8c75f327121b1568f09a7d/git.lua#L14-L30

However, since Git 1.7.8, submodules don't contain a .git/ folder anymore.
Instead, the submodule directory is populated with a .git text file
which contains a git-dir: /path/to/superproject/git_dir/modules/name.

See: https

[2016-02-15 21:11] vladimir-kotikov commented on #46
@gpakosz, could you check if https://github.com/vladimir-kotikov/clink-completions/commit/a14af9c775734397b6c18210cbde5776103ff8ba works for you?

[2016-02-15 22:26] gpakosz commented on #46
It seems it works for me.

Contrary to what my first read of `cmder`'s source code made me state, cmderdev/cmder#833 won't be automatically fixed when this issue is fixed though.

An equivalent `get_git_dir()` function has to be implemented in `cmder`'s `clink.lua`

[2016-02-16 06:28] vladimir-kotikov commented on #46
Closing as resolved. @gpakosz, let's continue discussion on cmderdev/cmder#833

[2016-02-16 06:28] #46 closed

[2016-02-19 11:19] vladimir-kotikov opened #47 "Add completions for git merge/difftool"

[2016-02-29 16:57] idvorkin opened #48 "Installation Guidance:"
Is there guidance on how you install these completions?

For examples, right now I'm copying from this git directory into %localappdata%. Is there a better way?

[2016-02-29 16:57] idvorkin opened #49 "Git prompt example?"
Is anyone using a git prompt, something that shows current branch etc? If so, can you share it so I can copy/modify :)

[2016-03-09 19:35] vladimir-kotikov commented on #49
Not sure if i can get your question. If you need an example of how to deal with git prompt within clink, you'd better check out how Cmder does that: https://github.com/cmderdev/cmder/blob/development/vendor/clink.lua#L141-L168

[2016-03-12 13:18] idvorkin commented on #49
Yup, that's what I'm looking for - thanks!

[2016-03-12 14:05] idvorkin commented on #49
FYI - conemu supports showing git command line via:

   gitshowbranch /i

[2016-03-15 20:09] vladimir-kotikov commented on #49
I see. I think this is because `gitshowbranch.cmd` calls the real `git` process, which is MUCH slower than reading one file from git directory.

[2016-03-15 20:09] #49 closed

[2016-04-03 14:23] lijunle commented on #24
This function does not work in my box. :(

[code]

[2016-04-04 09:20] vladimir-kotikov commented on #24
@lijunle, thanks for report. i'll investigate

[2016-04-04 13:41] albfan commented on #24
This only adds autocompletion for alias itsef.

But the fix is easy, just need some boilerplate code. The match from alias an real command should be keeped, and the parser should be added to aliases based on its real command.

comments on code review

[2016-04-04 15:48] vladimir-kotikov commented on #24
@albfan, yep, i did get sorted. I think it's possible to get completions for aliased commands by making `aliases` function returning parsers from `git_parser`, This would allow to not restructure the whole `git_parser` as this would be very massive change. I'll take a look at this approach in the mean time

[2016-05-07 23:35] vladimir-kotikov commented on #38
Added via 9a4d308

[2016-05-07 23:35] #38 closed

[2016-06-03 06:46] Klaster1 opened #54 ""npm run" autocompletion doesn't display scripts after script with { and }"
`npm run` autocompletion doesn't display scripts after script that contains `{` and `}`.

My scripts block:
[code]

Autocompletion output:

[code]
Autocompletion after I remove `{` and `}` from `nwbuild`:
[code]

[2016-06-04 23:36] #54 closed

[2016-06-27 18:49] aaroncalderon opened #56 "clink-completions/vagrant.lua:66"
I installed `cmdr` which hapens to use your clink-completions. I stumbled upon this error, where we get the following message when a console starts.

This issue has been reported on [cmdr issue #779](https://github.com/cmderdev/cmder/issues/779#issuecomment-228819072), but no real fix has been found.

Currently I have commented out line 66 to have the message go away, but I'm missing the intended

[2016-06-28 18:44] aaroncalderon opened #57 "npm.lua `package.json` Package_name and Package_version shows twice"
At file line [npm.lua#214](https://github.com/vladimir-kotikov/clink-completions/blob/0.3.1/npm.lua#L214) seems that makes the output appear twice, I do not knwo if this is the intended behaviour

Note how the proje `(project@1.2.1)` shows twice.

[2016-06-30 00:50] Stanzilla opened #58 "Typo?"
I haven't checked but this looks like a typo to me https://github.com/vladimir-kotikov/clink-completions/blob/master/git.lua#L825 a few lines down again, too.

[2016-06-30 19:39] vladimir-kotikov commented on #58
Hmm... Just checked and it doesn't seem to be. Take a look at [man page](https://git-scm.com/docs/git-svn) and search for `svm` term

[2016-06-30 19:39] #58 closed

[2016-06-30 21:54] Stanzilla commented on #58
weird! all good then :)

[2016-07-13 04:41] tonidy commented on #56
@aaroncalderon you can use this work around #53 until it merged to repo

[2016-07-13 17:57] aaroncalderon commented on #56
@tonidy Thanks for the reply. Will try that as soon as I can.

[2016-07-14 20:32] #56 closed

[2016-07-14 23:20] aaroncalderon commented on #57
The duplication happens on the command line. Like the example I provided if you go to the path `C:\dev\github\app` and that path is a git repository, then it shows like:

or maybe, if you are on the branch `master`

It shows the project name (__projec__) and version (1.2.1) twice like

at the end of the line. Unless this only happens on my cmdr command prompt.

[2016-07-15 06:46] vladimir-kotikov commented on #57
@aaroncalderon, this doesn't repro for me. Could you please give exact versions of clink and Cmder, you're using.

[2016-07-15 20:19] aaroncalderon commented on #57
Using

- cmder v 1.3
- ConEMu 160207 [32]
- Clink v0.4.7 [git:dfc95a]
- clink-completions v 0.3.1 From GitHub

![duplicatenpmversion](https://cloud.githubusercontent.com/assets/14810269/16887301/cec07cf0-4a9e-11e6-95ed-02f0a003e9c9.png)

[2016-07-15 20:53] aaroncalderon commented on #57
I just tryed cmdr v 1.3.0 and the issue seems to be fixed.

Version overview
- cmder v 1.3.
- ConEMu 160207 [32]
- Clink v0.4.8 [git:d565ad]
- link-completions v 0.3.1 (bundeled version)

Seems the only difference was __Clink__, I do not know if that was the problem then.

[2016-07-15 20:57] #57 closed

[2016-08-25 14:39] glucas commented on #24
As a workaround or short-term solution, Is there a way users can add their own aliases to the git_parser, without modifying git.lua directly? I'm not that familiar with the clink api, so wondering if I could do something along the lines of write my own lua file that gets the current git_parser and adds additional commands?

[2016-09-19 11:39] vladimir-kotikov opened #59 "Add completions for `gh` (GitHub.cli)"
**hub** is a command-line wrapper for git that makes you better at GitHub. See https://hub.github.com for CLI examples

[2016-09-29 22:05] Seb- opened #60 "Request for npm install"
Hello,

I would like to request autocomple for `npm install` (suggesting packages) like it does from `npm remove`.

Thank you!

[2016-10-07 08:41] vladimir-kotikov opened #61 "complete tags for 'git checkout'"

[2016-10-18 18:11] busches opened #62 "Add support for Yarn"
Yarn is a new alternative to `npm`. https://github.com/yarnpkg/yarn

[2016-10-18 20:49] #62 closed

[2016-10-19 12:52] busches commented on #60
`npm remove` searches through the packages you have installed, an easy to access number. `npm install` would require searching the entire `npm` registry and any others you may define. I don't believe this is feasible.

[2016-10-19 13:40] vladimir-kotikov commented on #60
Yeah, right. It might be possible to offer a limited set of completions based on local NPM cache, but I don't feel that this is right thing to do. I'd better to not provide any completions rather than give users a very limited workaround.

[2016-10-19 13:40] #60 closed

[2016-11-14 14:46] vladimir-kotikov opened #66 "clink-completions/modules/tables.lua:46: attempt to call field 'insert' (a nil value)"
after invoking `npm run start{TAB}` using be93929

[2016-11-22 21:21] busches opened #71 "clink-completions/modules/tables.lua:51: stack overflow"
Running against `master` if you enter `git diff -` and hit `tab` you will get the following error: `clink-completions/modules/tables.lua:51: stack overflow`

[2016-12-18 10:15] lijunle commented on #71
Get into the same problem, just run `git checkout <TAB>`  to repro it.

[2016-12-18 15:41] jods4 opened #74 "Improve yarn run completions"
Unlike NPM, `yarn run` can run local modules in addition to `project.json` scripts.

I managed to do that locally with the following simple changes:
[code]

And this works, with 2 limitations that I am not sure how to fix:
- I would like to color the scripts to make them more prominent. I tried to `color_text` the results but it didn't work.
- it seems `create_files_matcher` returns `.` and `..`.

[2016-12-18 21:47] vladimir-kotikov commented on #66
Fixed in 162d402062b655e6ea7088f05a1a2962d0a771c6

[2016-12-18 21:47] #66 closed

[2016-12-18 21:52] vladimir-kotikov commented on #74
@jods4, thanks for the suggestion! Could you take a look at the linked PR? I'm not actively using Cmder these days and i'm not a yarn user so I can't verify the changes right now

[2016-12-18 22:21] jods4 commented on #74
@vladimir-kotikov This is exactly what I have here, works well for me!

Is it possible to colorize the completions?
If it is I would like to emphasize the scripts results in blue but I wasn't sure how to do it.

[2016-12-19 07:22] vladimir-kotikov commented on #74
Nice, thanks for verification!

Unfortunately this is not possible because readline library that prints completions under the hood of clink cuts out all ANSI escape sequences.

To differentiate one options from another you might use `clink.match_display_filter` and add some additional symbols to selected completions (e.g. prepend ones corresponding to executables in `.bin` with `>` or `*`). See ht

[2016-12-19 07:25] vladimir-kotikov commented on #74
Closing this for now. Please open a separate PR if you're going to update/improve the visual behavior for completions.

[2016-12-19 07:25] #74 closed

[2016-12-19 07:27] vladimir-kotikov commented on #71
@busches, @lijunle, can you check the latest version from `master`? Looks like this has been fixed by 162d402062b655e6ea7088f05a1a2962d0a771c6

[2016-12-19 17:27] jods4 opened #76 "Better display of yarn run completions"
Following #74, I tested formatted completions: `/.bin` executables are displayed plain, `package.json` scripts are prefixed with a `*`.
![yarn run](https://cloud.githubusercontent.com/assets/3832820/21322241/802c41d2-c618-11e6-8725-877376a5d454.PNG)
The result is better than nothing, although color would be 10x better 😭

To achieve this, I modified the `scripts` function as follows:
[code]

[2016-12-20 06:43] vladimir-kotikov commented on #76
Looks nice ;) Though i personally prefer an option without space between `*` and a suggestion. @jods4, could you send a PR with this?

[2017-02-10 10:59] dkoper opened #78 "add completions for Cloud Foundry CLI"
[Cloud Foundry](docs.cloudfoundry.org) is an open source, multi cloud application platform and it has a [Command Line tool](https://github.com/cloudfoundry/cli) to interact with it.

The `cf` CLI supports bash completion "natively" as offered by the [command line parser library](https://godoc.org/github.com/jessevdk/go-flags) it uses. Enabling it is as simple as installing the following bash compl

[2017-03-08 20:38] elnuno opened #81 "Support click (Python command line library) completions"
[Click](http://click.pocoo.org/6/) is "a Python package for creating beautiful command line interfaces in a composable way with as little code as necessary". There is a [click-completion](https://github.com/click-contrib/click-completion) project that provides support for automagically adding completion support to click-based apps (works with fish, Zsh, Bash and PowerShell so far). It would be tot

[2017-03-09 12:30] glehmann commented on #81
indeed, that would be interesting. We have no knowledge about clink or clink-completions though, so a little guidance on where to begin would be great!

More specifically, click-completion is working by generating a list of possible completions given the current command line being typed by the user. click-completion does not produce a complete set of available arguments or options that can be comp

[2017-03-09 12:38] glehmann commented on #81
BTW, I'm one of the click-completion developers

[2017-03-09 14:54] elnuno commented on #81
I think it's possible, we'd need to create a Lua script that has more or less the same behavior the other ones have. I can try to write a quick and dirty one later this week.

[2017-06-04 07:10] lijunkang opened #84 "ssh completion does not work"
ssh completion is broken for me. However, it works if I reverted `ssh.lua` file from 26f4f99fd4c010bee57c4b64b93b9f7171c4d978.

[2017-06-05 06:14] vladimir-kotikov commented on #84
Hey, @lijunkang. Thanks for reporting the issue. Unfortunately I'm not actively maintaining this project anymore and don't have much time to contribute bugfixes, so if you have an idea how to fix this problem - PRs are welcome :)

[2017-06-07 17:59] #84 closed

[2017-08-03 19:10] Andegawen opened #87 "complement vagrant completion about snapshot command"
Add keywords about snapshot to vagrant completion #86

@vladimir-kotikov Please review

[2017-08-04 07:10] vladimir-kotikov commented on #87
Done, thanks for contribution!

[2017-08-04 07:10] #87 closed

[2017-08-06 17:33] Andegawen opened #89 "List provision names in vagrant suggestions"
It would be nice to provide provision names from `Vagrantfile`. You don't need to open the file and analyse it.
I did it in #88 . Please do code review @vladimir-kotikov .

Thank you in advance

[2017-08-07 06:31] #89 closed

[2017-08-10 22:18] mmodh opened #90 "Support for kubectl"
Completions to find pod names, deployment names, etc for kubectl commands.

[2017-10-23 19:42] Andegawen opened #92 "Enhancement of finding provision names for vagrant"
Hi @vladimir-kotikov,

I've created PR: #91 , where I enhanced finding provisions in vagrant ;)
Can you code review and merge it?

[2017-10-23 19:44] vladimir-kotikov commented on #92
Done! Thanks %)

[2017-10-23 19:45] #92 closed

[2017-10-23 21:17] fcharron opened #94 "Support git worktrees"
At the moment, `gitutils.get_git_dir.has_git_file()` returns an incorrect value when in a git worktree. In that situation, the content of the .git file follows the following scheme:
main repo -> c:/source/mainRepo
worktree -> c:/source/childWorktree
contents of c:/source/childWorktree/.git file -> `gitdir: c:/source/mainRepo/.git/worktrees/childWorktree`

In that situation, `has_git_file("c:/sourc

[2017-10-24 10:21] vladimir-kotikov commented on #94
@fcharron, #95 should fix it but unfortunately I can't test it because I don't have Windows machine at hand. May I ask you to try it out first before I merge it?

[2017-10-24 14:39] fcharron commented on #94
@vladimir-kotikov Thanks for the quick fix! I tested it in cmder (I had to copy-paste the functions you modified at the right places in their config files) and it worked perfectly.

Once you merge, I will follow up with the cmder devs to integrate with them.

[2017-10-24 18:39] vladimir-kotikov commented on #94
Cool, thanks for testing 👍

[2017-10-24 18:39] #94 closed

[2017-10-24 18:49] #71 closed

[2017-10-24 18:56] vladimir-kotikov commented on #94
@fcharron FYI here is a PR with update: https://github.com/cmderdev/cmder/pull/1525

[2017-12-14 10:02] TobiJust commented on #90
Is there any update for kubectl completions?
Would love to have them in Cmder on Windows.

[2018-01-15 07:38] orestesgaolin commented on #40
For those who are looking for Docker completion in Windows here is the list of currently available solutions:

- https://github.com/matt9ucci/DockerCompletion - quite recent commits present in repository
- https://github.com/samneirinck/posh-docker - I use this one - after installation with `Install-Module Posh-Git` (administrative rights required) you can just add `Import-Module Posh-Docker`  @to

[2018-02-15 06:03] kennblvnp commented on #30
has this been solved?

[2018-04-05 19:57] jerkovicl opened #99 "Add support for dotnet cli"
Is it possible to make a clink completions lua file for dotnet cli?

On official repo there are autocomplete scripts for powershell, bash and zsh:
[Powershell](https://github.com/dotnet/cli/blob/master/scripts/register-completions.ps1)
[Bash](https://github.com/dotnet/cli/blob/master/scripts/register-completions.bash)
[Zsh](https://github.com/dotnet/cli/blob/master/scripts/register-completions.zsh

[2018-06-12 23:04] CollinChaffin commented on #48
After 2+ yrs I'm a new user and pretty shocked to see this issue, and not a single line in even the readme indicating how on earth one goes about actually installing this.  I see it referenced on a (also years old) pull request to attempt to add a single line (really?) in the readme and a whole page arguing and finally apparently rejecting on how to properly use git to clone a repo.

So, how is th

[2018-06-13 07:28] vladimir-kotikov commented on #48
@CollinChaffin In my own defence I can say that users are mostly supposed to get these completions installed with [Cmder](https://github.com/cmderdev/cmder) (IIRC the latest version of Cmder already includes latest version of these completions) so manual install is not required usually.

If you need to integrate this into clean clink installation I think you can try putting these files (by cloning

[2018-06-21 16:18] doggy8088 opened #101 "C:\PROGRA~2\clink\043213~1.9\git.lua:3: module 'path' not found"
What's the right way to install your Lua scripts into clink?

[2018-08-07 18:29] nstrelow commented on #48
https://trzeci.eu/my-setup-for-conemu-and-clink/
Explanation of setting up clink with these scripts here

[2018-09-27 09:18] himhimlo opened #103 "Show also remote branches in git merge"
Now the git merge command auto complete with local branches instead of all branches. Will you consider change it to auto complete with all branches so that it behaves just like in bash environment? i.e. Changing from `"merge" .. parser({branches},` to `"merge" .. parser({local_or_remote_branches},` in `git.lua`.

[2019-01-04 14:16] OfficerHalf opened #104 "Git prompt shouldn't replace path text"
(Forgive me if this is the wrong place - I'm actually using Cmder, and I think I've tracked the issue back here.)

Small issue with the way git_prompt works. It looks like it can catch part of the path and replace that as well.
[code]

The `dev` in both the git branch and in the path are *both* being replaced with `dev -> origin`.

[2019-02-15 15:33] ATiltedTree opened #105 "Add completion for 'elevate'"
Elevate is a sudo for Windows
https://github.com/jnm2/Elevate
I would do it myself but I am not that good at lua.
It is very simple :
	Just show every completion after elevate.exe

[2019-04-04 08:17] Dji75 opened #108 "git branch does not autocomplete with git aliases"
Hello,

I'm using cmder and I got an issue with git branch auto-completion using git alias.

I've a git alias named `co` which is just a shortcut for `checkout`:
[code]

With directly cmder git bash ( "C:\cmder\vendor\git-for-windows\bin\sh.exe" --login -i), I'm able to do the following `git co branch_start<TAB>`, then it auto-complete the branch name.

But the same command does not work when I us

[2019-04-10 20:09] Dji75 commented on #108
Looks like dupe of https://github.com/vladimir-kotikov/clink-completions/issues/24

[2019-04-10 20:09] Dji75 commented on #24
Hello,
Is there any news about this enhancement ? :)

[2019-04-18 09:24] mahl opened #112 "Add autocompletion for git alias "g""
I add an alias "g" for git. Now auto completion doesn't work with aliases. It should work like in zsh.

[2019-05-07 11:54] rasmusfaber commented on #90
#113 contains a basic completion script for kubectl.

[2019-07-01 10:18] lucas-gonzalez commented on #104
I have had the same issue and backtracked it to [git_prompt.lua#L81](https://github.com/vladimir-kotikov/clink-completions/blob/master/git_prompt.lua#L81) and [git_prompt.lua#L83](https://github.com/vladimir-kotikov/clink-completions/blob/master/git_prompt.lua#L83). Both `gsub` invocations are replacing all instances of the current branch name in the `prompt.value`.

[2019-07-11 12:36] djwashburn opened #115 "Add autocompletion for path-globs"
See this https://stackoverflow.com/a/31789441/1033203. If I'm in a project with a deep directory structure, like a large java project, and I want to say `git add` a file, it would be nice to type `git add **/SignPr*<tab>` and have it autocomplete to `git add /really/long/path/SignPresenter.java` . This does not seem to work for me at the moment (based on using Cmder on Windows 10, which I understa

[2019-08-18 08:19] #105 closed

[2019-08-19 06:41] #104 closed

[2019-09-25 20:21] youngmit opened #116 "Only include changed files in `git checkout` completion"
Right now, when adding filenames to the `git checkout` completions, all files are included. Usually one is only interested in checking out a file that is tracked by the repository and changed (essentially the output of `git ls-files -c`, plus maybe some other things that I'm not thinking of). This is at least how oh-my-zsh does it. As it is, so many files are included in the completion that I've j

[2019-09-25 20:50] youngmit commented on #116
I guess I am blind, and missed the `io.popen` stuff that also gets used for git aliases. I was able to make something work for listing files. Do people think that this is useful behavior? Should I put together a PR?

[2019-09-26 21:28] vladimir-kotikov opened #117 ".init.lua isn't loaded under some circumstances"
See https://github.com/cmderdev/cmder/issues/957 and https://github.com/cmderdev/cmder/issues/957#issuecomment-535692572 for background

[2019-10-02 14:01] Dji75 commented on #24
@vladimir-kotikov are you still get involved in this project ?
As you seemed to say, the issue does not look so hard to fix, could we have some hope that it will be fixed soon ? ^_^

[2019-10-02 14:36] albfan commented on #24
My relation with windows involves using msys2 and not reinvent the wheel.

[2019-10-02 14:36] #24 closed

[2019-10-02 19:15] Dji75 commented on #24
@albfan , you make my day !
I used [this link](https://zyzyz.github.io/en/2017/10/Integrate-MSYS2-into-Cmder/) in order to use msys2 with cmder and git bash completion works perfectly, many thanks !

[2019-10-02 19:16] Dji75 commented on #108
https://github.com/vladimir-kotikov/clink-completions/issues/24#issuecomment-537639109

[2019-10-02 19:16] #108 closed

[2019-10-13 12:43] BlackChar opened #118 "parse included config files for ssh completion"
With more complex ssh configs it is possible to split the config file into several and use `Include file` to generate final configuration. Would it be possible to implement parsing of these included files as well?

I'm not sure if it's necessary to parse all includes or if it can be somehow simplified, e.g. by just parsing `.ssh\config.d\*` instead.

[2019-11-28 10:01] doggy8088 opened #121 "How to write a custom matcher that can traverse folders with specific filename pattern?"
I have a CLI command like this:

[code]

The last part of the command is a file. The file can be current folder, parent folder or some other folders. I don't know how to write a matcher to filter files.

I tried below, but this filter files only in current folder:

[code]

If I try to write `dotnet publish ..\` then hit `Tab`, then no suggestion will be shown.

How can I write this?

[2019-11-28 10:15] vladimir-kotikov commented on #121
It's hard to tell exactly how you would do this, but looks like you can implement a hybrid of [`matchers.files`](https://github.com/vladimir-kotikov/clink-completions/blob/08755a32c121921226a09f365ed08a6ee3c2f4de/modules/matchers.lua#L36) and [`matchers.create_file_matcher`](https://github.com/vladimir-kotikov/clink-completions/blob/08755a32c121921226a09f365ed08a6ee3c2f4de/modules/matchers.lua#L70

[2019-11-28 10:15] vladimir-kotikov commented on #121
Feel free to make a PR if you figure out how to do this - this is going to be a nice addition

[2019-11-28 10:21] #90 closed

[2019-11-28 10:57] doggy8088 commented on #121
@vladimir-kotikov I'm still figuring out how to make it.

I found this sample: https://gist.github.com/PeterJCLaw/8359fb02f2be5b94f9d2

What is `clink.register_match_generator`? How can I use it?

[2019-11-28 11:10] vladimir-kotikov commented on #121
I haven't touched this code for like 5 years so it's hard for me to figure out. I'd do this just like I told in my previous comment but if you would like to use this snippet - I think you'll need to do some experimentation by your own.

[2019-11-28 11:59] doggy8088 commented on #121
@vladimir-kotikov I made it!! 😄

[code]

[2019-11-29 00:02] SolWasserman commented on #99
https://github.com/vladimir-kotikov/clink-completions/pull/120

[2019-11-29 07:52] #99 closed

[2020-01-15 13:42] jkoenig134 commented on #40
@vladimir-kotikov do you plan to add the docker-completion?
The new bash-completion file for docker is located [here](https://github.com/docker/cli/blob/master/contrib/completion/bash/docker).
A command completion for docker-compose would also be awesome. The completion for that is located [here](https://github.com/docker/compose/blob/master/contrib/completion/bash/docker-compose).

[2020-01-15 18:49] vladimir-kotikov commented on #40
@jkoenig134 I don't as I'm not actively working on this project. There's a PR with basic completions here: https://github.com/vladimir-kotikov/clink-completions/pull/73 which you can grab and put along with other lua files in your cmder installation and get these completions working - I'd love to merge that PR but have some concerns about the implementation so still haven't decided about it

[2020-01-16 07:57] jkoenig134 commented on #40
Ok, thank you. I will look at it.

[2020-02-16 14:46] wswind commented on #48
If you installed Clink using the .exe installer. Put the lua files into the folder:
[code]
If you are using the .zip distribution of Clink . Put the  lua files into a directory called profile  in the same directory where Clink's core files are found.

You can find this in the clink helper.
![image](https://user-images.githubusercontent.com/18399096/74606780-1f9d0e80-510e-11ea-8b00-d0fa52f0e5b1.png

[2020-04-14 06:38] vladimir-kotikov commented on #117
Also https://github.com/cmderdev/cmder/pull/2278

[2020-04-18 10:38] Daniel-Mendes opened #127 "Feature: Same as zsh-autosuggestions"
## Duplicate of [cmder-dev/cmder](https://github.com/cmderdev/cmder/issues/2298) issue.

### Purpose of the issue
- [ ] Bug report (encountered problems/errors)
- [x] Feature request (request for new functionality)
- [x] Question

### Version Information

- Cmder 1.3.14.982

- Windows 10 Home 2004

### Description of the issue

Is there a plugin to add auto-suggestions like [zsh-autosuggestions](h

[2020-06-16 22:08] DaelonSuzuka opened #128 "Completion script for Makefiles?"
Is it possible to make a completion script that will scan for Makefile targets and provide autocompletion for them? I've tried reading the Clink docs and some of the scripts in this repo, but I don't know enough Lua to make heads or tails of it.

If somebody who knows how clink/lua work can tell me if the idea is even reasonable, I'd really appreciate it.

[2020-11-08 19:16] binyaminyblatt opened #131 "winget support"
i dont know lua but i wrote this
https://gist.github.com/binyaminyblatt/9df5a0adcbb31307c9d735ae462b694c
i dont know why its isnt working

[2021-01-28 17:02] Qrzysio opened #138 ""match generator failed" when putting space"
I have upgraded Cmder to the latest version recently. I get an error when putting space after `git` command.

[code]

Video: https://streamable.com/80g02g

How to fix it?

[2021-03-10 19:48] ovasquez opened #140 "[Feature Request] Auto completion for git commands when using alias"
### Description
The idea of this feature is to provide auto completion when using aliases for git commands, for example:

#### Current behavior
[code]
#### Expected behavior
[code]

I have been looking at the code and would be willing to give it a try but I have zero experience with Lua, so if someone could provide guidance on this that would be appreciated.

### Related issues in other repos
Just

[2021-03-18 08:23] binyaminyblatt commented on #131
i just updated my script it works now

[2021-03-31 06:58] fallaciousreasoning commented on #48
Using a new version of clink (I'm running v1.1.48) you can run `clink installscripts patch/to/clink-completions`

[2021-04-29 07:08] rashil2000 commented on #131
Can you make a pull request with your script so that it gets merged?

[2021-05-02 20:46] binyaminyblatt commented on #131
I messed up my clone of the repo but I don't want to delete it and re-clone it because I have some stuff in there can you do it￼￼

[2021-05-03 03:45] rashil2000 commented on #131
You can create a new separate branch, rebase it with upstream master, and send your PR from there. Your own changes will not get affected, they'll stay.

[2021-05-13 05:35] simaek commented on #138
I have encountered the same problem when using `scoop uninstall`.

[2022-02-10 02:07] giggio commented on #48
I added this repo as a submodule to my clink installation, and I use a powershell script called in `clink_start.cmd` to register its path if needed.
This is the script:
https://github.com/giggio/clinkfiles/blob/main/install-scripts.ps1
This is where it is called:
https://github.com/giggio/clinkfiles/blob/d6b7f9ff907017d61016512362a76ac80c8ccd90/clink_start.cmd#L5

I hope it helps someone.

[2022-02-17 14:05] byteknight commented on #48
**TL;DR:** No need to defend yourself. Help would be nice, but it's all good! Been in your situation before, so I understand! 😉

**"Ad Nauseam" Version:**
Personally I don't think you need to defend yourself if you were kind enough to supply the completions in the first place—_"beggars can't be choosers"_ and all that. Coming from a GNU/Linux environment and being a software engineer for a living,

[2022-05-16 07:30] kamenminkov commented on #127
It's possible already, just do `clink set autosuggest.enable true`.

[2022-05-16 07:50] kamenminkov opened #145 "Add autocompletion for sudo"
It would be nice to have completions for [sudo](https://github.com/lukesampson/psutils) - it's a PowerShell script somewhat mimicking what `sudo` does on UNIX-like systems (shows UAC prompt if you have that set up, but executes commands as admin without a prompt if the UAC prompt is disabled - so it's handy for executing commands in place with elevated privileges without having to open the shell i

[2022-05-25 15:39] binyaminyblatt opened #146 "Integration with pythons argument parser"
I don't know if it's possible or if this even is the right place to be requesting it but there are a lot of autocomplete integrations for pythons argument parser or bash and zsh I was wondering if it was possible to either hook into one of those or have a similar one for clink
https://github.com/kislyuk/argcomplete

[2022-07-08 05:19] 3N4N opened #147 "Support argument completion for aliased commands"
`git.lua` provides tab-completions for git commands and its arguments. It also provides completion for aliases. But it does not provide proper argument completion for those aliased commands. For example, with `alias.co checkout`, when we press tab after `git co |` (| being the cursor), it should provide completion for the git branches, just as it does for `git checkout` command.

[2022-07-08 05:19] 3N4N commented on #147
I'm working on this feature. Should be done by today. Wait for a PR til tomorrow, please.

[2022-07-08 05:55] 3N4N commented on #147
This issue was already filed and closed in 2016, but the PR wasn't merged. Closing it with sadness.

[2022-07-08 22:27] #147 closed

[2022-07-13 10:02] eblis opened #150 "Git checkout -b should only autocomplete branch names"
I think the `git checkout -b` command should only autocomplete branch names, it shouldn't list files in that case

[2022-07-19 08:57] eblis opened #151 "Autocomplete file names for git commands adds trailing slash"
I installed this module with this version of [clink](https://github.com/chrisant996/clink) and I'm having some issues with autocompleting file names for git commands which I think are caused by this module.

If I type in `git add flexco` in a git repository and then hit `tab` I get the file name autocompleted, but it has a trailing `\` at the end, preventing the command from completing successfull

[2022-07-20 10:22] chrisant996 commented on #150
The https://github.com/chrisant996/clink-completions fork and PR #149 include a fix for that: `-b` doesn't list completions at all -- it's a new branch name, so completion seems a bit nonsensical.

[2022-07-20 10:27] chrisant996 commented on #146
Is the question about how to automatically make completion scripts from bash/zsh/fish/etc work in Clink?  That isn't feasible without embedding those entire shells and scripting languages into Clink, which would be going a bit overboard, and would never be able to be fully functional.

However, there is a `fishcomplete.lua` script in [clink-gizmos](https://github.com/chrisant996/clink-gizmos) that

[2022-07-20 10:32] chrisant996 commented on #140
I believe I've implemented this in PR #149.  Hopefully @vladimir-kotikov can review the PR soon.

[2022-07-20 10:37] chrisant996 commented on #128
@DaelonSuzuka it's possible.  It's a matter of making a parser for makefiles, to extract the targets.  The Lua part is straightforward.  Building logic for parsing makefiles reliably is where most of the effort would go.

I don't want to do that myself, but I would be happy to answer questions about Lua and Clink, to help someone else do it.

[2022-07-20 10:47] chrisant996 opened #152 "Is this repo still alive? Should my fork take over?"
@vladimir-kotikov do you have interest in continuing to maintain this repo?

Would it be helpful for me to take over (e.g. grant me write access), or would it be helpful for me to position [my fork](https://github.com/chrisant996/clink-completions) as the new active repo?  PR #149 has a lot of enhancements, and some are significant.

[2022-07-23 00:05] kamenminkov commented on #145
Oh, cool, didn't know that. Thank you!

[2022-07-28 04:30] chrisant996 commented on #138
From reading the git.lua file, the error is happening because the output from `git config --get-regexp alias` has at least one line that contains no space character.

Can you share the output from `git config --get-regexp alias`?

My PR #149 happens to include a fix for that.  But it is beginning to look like Vladimir has abandoned this repo, as the PR has been waiting for 19 days and the last tim

[2022-08-11 19:37] vladimir-kotikov commented on #152
Hey, Chris! This is something I had been proposing to Cmder folks [quite some time ago](https://github.com/cmderdev/cmder/issues/1843). Nothing really changed since that time - I have neither enough time nor, more important, personal interest in contributing to this project anymore, but I don't want it to be abandoned completely so I'd appreciate if you take over the maintenance. Feel free to cont

[2022-08-13 17:32] chrisant996 commented on #152
@vladimir-kotikov That works very well, thanks Vladimir. I'm happy to accept the responsibility, and I'm grateful for all the effort you've invested in this project over the years!

I like the idea of keeping this the main repo.  It means less work for others (especially Cmder).

[2022-08-15 00:19] #151 closed

[2022-08-15 00:20] chrisant996 commented on #150
This will be fixed in the next release, probably within a week or two.

[2022-08-15 00:46] chrisant996 commented on #146
@binyaminyblatt I'm the new maintainer for this repo, and I'm also the maintainer for Clink.

I think you are asking for python-specific completions while typing a python command line.  Is that an accurate understanding of what argcomplete (etc) do?

It would certainly be possible to write one for Clink.  I don't use python, myself, so it's not something I'm likely to create in the near future.  S

[2022-08-15 00:47] chrisant996 commented on #140
This should be coming in the next release, probably within the next 2 weeks.

[2022-08-15 00:47] chrisant996 commented on #138
This should be coming in the next release, probably within the next 2 weeks.

[2022-08-15 00:49] chrisant996 commented on #145
It's easy to add a sudo completion script.  But there are several different sudo implementations for Windows, and different ones have different flags.  I'm exploring some options for what's the best way to add this.

[2022-08-15 00:53] chrisant996 commented on #131
Thanks for sharing this.  I'll see about adding to the repo.

[2022-08-15 00:55] #127 closed

[2022-08-15 01:09] chrisant996 commented on #121
I don't plan to merge this PR, because with Clink v1.0 and higher it's much simpler, and also automatically .

[code]

And then completion coloring works properly and efficiently, as well.

[2022-08-15 01:13] chrisant996 commented on #117
I'll rename the file.  This should be coming in the next release, probably within the next 2 weeks.

[2022-08-15 01:16] chrisant996 commented on #116
@youngmit That sounds interesting.  I would appreciate if you could share a PR.  Branches and changed files makes sense.

[2022-08-15 01:19] chrisant996 commented on #112
Do you mean you added a doskey alias for `g` = `git $*`?

That works in newer Clink versions because now Clink automatically resolves doskey aliases when generating completions.

[2022-08-15 01:20] #112 closed

[2022-08-15 01:27] chrisant996 commented on #115
There are several problems with completing `**/SignPr*`.  One is that it could take a few minutes to collect matches, depending on where it is used.  Another is that there isn't a good way to show matches from multiple different directories.  There are several other issues as well.

But #116 sounds like it would be a different (and much easier) way of addressing the motivation behind your request.

[2022-08-15 01:27] chrisant996 commented on #115
Closing as a duplication of #116.

[2022-08-15 01:27] #115 closed

[2022-08-15 01:28] chrisant996 commented on #16
This should be coming in the next release, probably within the next 2 weeks.

[2022-08-15 01:30] chrisant996 commented on #47
This is in the pending PR.  This should be coming in the next release, probably within the next 2 weeks.

[2022-08-15 01:44] chrisant996 commented on #61
I'm not sure whether completing tags is always desirable.  For example, the Clink repo has over 100 tags, but they are almost never interesting for completion.

[2022-08-15 01:47] chrisant996 commented on #103
This should be coming in the next release, probably within the next 2 weeks.

[2022-08-15 01:49] chrisant996 commented on #81
Is there still interest in this?  I can help.

[2022-08-15 07:34] chrisant996 commented on #40
I see the implementation concerns Vladimir had, and I also see why the implementation was done that way, given limitations in Clink v0.4.9.

But newer versions of Clink natively support delayed initialization of argmatchers, so this is very doable now.

I'll look at getting docker completions included.

[2022-08-15 14:03] DRSDavidSoft commented on #152
I appreciate your efforts towards keeping clink completions great as always!  Looking forward to seeing adb.exe completions in the official repo in the future

[2022-08-15 14:29] chrisant996 commented on #121
On second thought, maybe I'll merge it and also make it use the enhanced approach on newer versions of Clink.

[2022-08-15 14:45] chrisant996 commented on #152
@vladimir-kotikov two things:
1. The appveyor builds aren't working. It looks like fixing that requires logging into your appveyor account. Can you email me at my profile's email address, and we can chat about how best to update appveyor moving forward?  (E.g. maybe copy the appveyor config details into email, disable it from your appveyor account, then I could make my own appveyor account and set

[2022-08-15 15:11] chrisant996 commented on #150
Closing because #149 has been merged. There is some more work to do before the next release is ready, though.

[2022-08-15 15:11] #150 closed

[2022-08-15 15:12] chrisant996 commented on #140
Closing because #149 has been merged. There is some more work to do before the next release is ready, though.

[2022-08-15 15:12] #140 closed

[2022-08-15 15:12] chrisant996 commented on #138
Closing because #149 has been merged. There is some more work to do before the next release is ready, though.

[2022-08-15 15:12] #138 closed

[2022-08-15 15:28] chrisant996 commented on #103
Closing because it is fixed in the dev branch, and closing it helps me keep track of the remaining work for the next release (which will include the dev changes).

[2022-08-15 15:28] #103 closed

[2022-08-15 15:34] chrisant996 commented on #117
Closing because it is fixed in the dev branch, and closing it helps me keep track of the remaining work for the next release (which will include the dev changes).

[2022-08-15 15:34] #117 closed

[2022-08-15 15:45] chrisant996 commented on #47
Closing because #149 has been merged. There is some more work to do before the next release is ready, though.

[2022-08-15 15:45] #47 closed

[2022-08-15 16:33] chrisant996 commented on #16
Closing because it is fixed in the dev branch, and closing it helps me keep track of the remaining work for the next release (which will include the dev changes).

[2022-08-15 16:33] #16 closed

[2022-08-15 18:10] chrisant996 commented on #145
Closing because it is fixed in the dev branch, and closing it helps me keep track of the remaining work for the next release (which will include the dev changes).

[2022-08-15 18:10] #145 closed

[2022-08-16 04:12] chrisant996 commented on #116
I think that was a typo and `git ls-files -m` was meant.

For `git checkout` and `git add` deleted files should be included.
For `git add` untracked files should be included.

So I think `git status` is the query for `git add`.
And I think maybe filtering the results from `git status` is the query for `git checkout`.

It gets interesting how to list the matches...
Should `git add f` list `foo\` or

[2022-08-16 04:41] chrisant996 commented on #116
Closing because it is added in the dev branch, and closing it helps me keep track of the remaining work for the next release (which will include the dev changes).

[2022-08-16 04:41] #116 closed

[2022-08-16 09:22] kamenminkov commented on #145
It'd be nice to have it by default indeed. Thank you!

[2022-08-16 10:07] chrisant996 commented on #131
It was a good start at an argmatcher for winget, thank you for sharing it!  It was missing a lot of things, so I decided to write a new one that covers everything that's documented in the online help for winget.

Closing because it is added in the dev branch, and closing it helps me keep track of the remaining work for the next release (which will include the dev changes).

P.S.  There is a `winge

[2022-08-16 10:07] #131 closed

[2022-08-16 10:41] chrisant996 opened #154 "Add several argmatchers"
- [x] attrib
- [x] dir
- [x] doskey
- [x] findstr
- [x] less
- [x] msbuild
- [x] premake5
- [x] robocopy
- [x] xcopy

_maybe?_
- [x] grep (GNU version)
- [x] sed (GNU version)

[2022-08-16 12:27] vladimir-kotikov commented on #152
For the 1 - Yeah, let's figure that out, but honestly I think there's no much sense in keeping Appveyor as CI engine. Initially I thought I need to stick to Windows as it's the platform the completions code is running on, but I think it can be run on any other platform as long as there's a Lua exists for it. That said I think it might make sense to switch to Gitlab Actions which might be easier to

[2022-08-16 23:15] #121 closed

[2022-08-17 05:07] chrisant996 commented on #121
This is also updated to use new APIs when available.

[2022-08-17 09:19] #154 closed

[2022-08-18 08:12] chrisant996 commented on #78
I would like include this, but it has a dangerous problem:

It runs the entire command line on every completion, including other commands in the command line:
`del * & cf `<kbd>Tab</kbd> will actually run both the `del *` and the `cf` command.

This can be partially mitigated by using `clink.parseline()` and using only the last `line_state`.

But that's not sufficient, either -- for example:
`>foo

[2022-08-18 10:42] binyaminyblatt commented on #146
Python has packages which can interact with the shell to make the arguments accessible so it would probably need to be both a script and a package for python so it would be accessible from both sides the package would pass the information to the script

[2022-08-18 15:49] chrisant996 commented on #146
@binyaminyblatt can you show 2 or 3 specific examples of completions that you would like?

What do I need to install to use the python commands?
What is the command line to type before invoking completion?
What is the completion that should happen?

[2022-08-19 23:39] #76 closed

[2022-08-21 02:24] chrisant996 commented on #152
@vladimir-kotikov how have you been merging from `dev` into `master`?

I used GitHub to make a pull request, and accepted the default "squash merge" action.

That seems to cause problems for subsequent merges and pull requests, so I want to double check how you've been doing things.

- What was your sequence of operations for merging master into dev?
- What was your sequence of operations for merg

[2022-08-22 07:33] vladimir-kotikov commented on #152
I haven't been using separate master and dev branches - IMHO in such a simple projects it would bring more maintenance overhead and complications than benefits. That said my flow usually was to create a feature branches and ff-merge them to main branch as soon as the feature complete, rebasing when master's HEAD is changed (e.g. when something else is merged) and interactively - right before mergi

[2022-08-22 14:28] DRSDavidSoft commented on #152
I also agree with this point, as squashing the commits essentially removes any commit history messages and instead turns all file changes into one big blob. 👍

[2022-08-22 22:17] chrisant996 commented on #152
It sounds like the `dev` branch is not where to stage changes, and branches should be used for only one pull request and then deleted.

I'll update the documentation accordingly, and use that model moving forward.

Thanks for clarifying which branching model this repo has been using.

[2022-08-22 22:20] chrisant996 commented on #152
It also can make regression investigations later on much more difficult, or less informative.

That branching model has benefits.  It also has drawbacks.  I'm willing to continue using that model here, since this is a tiny project.

[2022-08-24 15:51] #81 closed

[2022-08-24 15:53] chrisant996 commented on #17
Closing as wontfix for now.

[2022-08-24 15:53] #17 closed

[2022-08-24 15:54] chrisant996 commented on #11
Closing this since #26 tracks adding information for contributors.

[2022-08-24 15:54] #11 closed

[2022-08-26 05:14] chrisant996 commented on #48
Added installation directions in 47e75bbc3960a12ab10874cbe33efa2a1c00b9cd.

[2022-08-26 05:14] #48 closed

[2022-08-27 16:44] #26 closed

[2022-08-29 08:00] #61 closed

[2022-08-29 17:34] mrplumber opened #157 "adb.lua misbehaving"
clink-completions 0.4.0 (installed via scoop)
adb completion fails.
Please, see attached screenshot of console window:
![image](https://user-images.githubusercontent.com/15611917/187262644-f74b88ba-d1bb-43fc-a78a-8d45ac191240.png)
fastboot and scrcpy as well.
Some other completions I have tried seem to work properly.

[2022-08-29 17:54] #157 closed

[2022-08-29 17:55] chrisant996 commented on #157
Thanks for reporting it!

[2022-08-29 19:09] mrplumber opened #158 "fastboot.lua and scrcpy.lua misbehaving too"
Commit [1e3adbe](https://github.com/vladimir-kotikov/clink-completions/commit/1e3adbe2c38bf0f2e11048e7a7cd1407549c31ec) only fixes adb.lua although similar issue is also relevant to fastboot.lua and scrcpy.lua:
![image](https://user-images.githubusercontent.com/15611917/187278691-5d2812dc-aab2-4bef-8934-ffdcb0fbb1ad.png)

[2022-08-29 20:03] chrisant996 commented on #158
Confirmed, thanks.

[2022-08-29 20:03] #158 closed

[2022-09-05 10:26] binyaminyblatt commented on #146
argcomplete is the package that works on Linux it doesn't work on Windows but it would need to do something similar

[2022-09-05 16:43] chrisant996 commented on #146
I don't have the interest or time to go learn everything for how to install python, configure it to support argcomplete, and figure out example completions to test.  If someone can explain those parts, then I might be willing to work on this.  Otherwise, someone else is welcome to work on this.  I'm willing to do the work of actually hooking it up -- but I'm not willing to go research and learn ev

[2022-11-07 19:31] mrplumber opened #159 "Unwanted behaviour for `adb` and `scrcpy` completions."
When I open new CMD window and as soon as I type `adb` or `scrcpy` _adb.exe_ process starts before I even press ENTER.
IMO actual command should be called only after a user presses ENTER.

Windows 10 LTSB 2019
clink 1.4.0
clink-completions 0.4.1

[2022-11-07 22:02] chrisant996 commented on #159
Yes, of course. It's running e.g. `adb devices` to produce completions and suggestions.

If you don't want the auto suggestions while typing then you could run off the `clink set auto-suggest.enable false`>

[2022-11-07 23:50] mrplumber commented on #159
OK, I understand now. Thanks for explanation.

[2022-11-08 00:17] chrisant996 commented on #159
@mrplumber Also ... is there a problem caused by running `adb devices` in the background, or did you just notice in Task Manager (or etc) that it had launched in the background?

If launching it in the background is causing some problem, then please share info about what's happening, so that it can be addressed.

[2022-11-08 11:25] mrplumber commented on #159
I started looking into it because there is a noticeable freeze after I type last letter of the command (`adb` or `srccpy`) and that last letter is actually displayed (as I indicated earlier, this happens first time I type one of those commands in newly opened CMD window). It turned out console was waiting for the _adb.exe_ process to start in the background. The freeze is little bit annoying and i

[2022-11-08 16:15] chrisant996 commented on #159
@mrplumber I see.  Thanks for describing the problem.  I'm not ok with that behavior happening.  🙂

Let me confirm something:

You're saying you type `ad` and the letters show up, and then you type `b` but there is a delay before the letter shows up, and during the delay an `adb.exe` process launches?

Three things seem wrong about that:
1. Neither suggestions nor completions should be launching `

[2022-11-08 17:05] chrisant996 commented on #159
@mrplumber Oh. I see the problem. The `adb.lua` and `scrcpy.lua` argmatchers are written incorrectly.

It uses the wrong argmatcher syntax, and as a result it accidentally runs functions to generate completions at the moment the adb or scrcpy argmatchers are loaded.  Which happens when you press the `b` and it notices there is a `completions\adb.lua` argmatcher script ready to be loaded.

When the

[2022-11-08 17:05] #159 closed

[2022-11-10 14:56] sebthom opened #160 "git.lua:155: attempt to call upvalue 'w' (a nil value)"
Trying to use clink-completions with clink results in

[code]

I tried different clink versions but the error persists.

[2022-11-10 15:31] sebthom commented on #160
This happens because another clink completion packages was installed which also defined a `tables.lua` module in the global namespace. So maybe it might be a good idea to register the files under `modules` via a dedicated namespace.

[2022-11-10 16:09] chrisant996 commented on #160
It looks like there are two copies of clink-completions installed.

One in "...clink\clink-completions\".
And one in "C:\apps\tools\clink-completions".

Can you clarify how you would register files under dedicated namespaces in Lua?  I don't understand how one would do that in Lua.

[2022-11-10 16:15] sebthom commented on #160
No, I shortened the path when creating the issue. There is only one installation.

I fixed it like this on the other end: https://github.com/sebthom/more-clink-completions/commit/d8d9ce557458b66d98a8e10d9b4ee3fc48a2084b

So you basically create a subfolder in `modules`, e.g. `clink_completions` or something else and then reference the modules like `require("clink_completions.tables")` instead of `

[2022-11-10 18:41] chrisant996 commented on #160
Oh, I see.  That's no different than simply renaming `modules` to `clink_completions_modules`.  It isn't a "namespace" per se, it just uses a more unique directory name than "modules".  I'm cautious about making that change in `clink-completions` itself, since it is a breaking change that can lead to breaking other scripts and breaking clink-completions itself if someone updates it by unzipping th

[2022-11-10 18:55] sebthom commented on #160
This would not solve the problem as the `tables` module will still be registered at top-level. If you however introduce a subdirectory but continue to put the parent dir, i.e. `modules` on the lua path, then you can reference the tables module in a qualified way.

Mine :) https://github.com/sebthom/more-clink-completions/ and I mitigated the issue from my side via https://github.com/sebthom/more-c

[2022-11-10 19:46] chrisant996 commented on #160
@sebthom ahhh ok I see, now, thanks for explaining.

At this point it would be a breaking change, and I'm cautious about making those, since they tend to be disruptive and result in frustration and lost time for people (including myself, to answer questions and troubleshoot, etc).

But I'm still a little confused:

It sounds like your more-clink-completions may be similar to clink-completions.  Bu

[2022-11-10 20:14] sebthom commented on #160
Well, I don't know but my repo used to work in conjunction with clink-completions with no problems, after installing a new version of clink-completions without having modified my repo I got the error described. Maybe because of this change https://github.com/vladimir-kotikov/clink-completions/commit/2ae10839df52a48da1881c925403035176b80cc2

The tables.lua I created is different, it is not a copy.

[2022-11-10 20:37] chrisant996 commented on #160
How would it be related to that commit?  That commit didn't change anything about the modules path.  It only refactored a line so that it could reuse the parent path, instead of computing the parent path twice.

You mentioned using `clink installscripts` as the way you installed a new version of clink-completions.

That's the cause.  Previously `clink installscripts` must not have been used to ins